<!doctype html>
<html>
    <head>
        <title>David Polar | About Me</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/ui.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400&family=EB+Garamond:wght@400;600&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="grid">

            <!-- navigation -->
            <div id="header"></div>

            <div class="header-image"></div>
            
            <div class="bio">

                <!-- Developer -->
                <h1 class="bio-heading" id="developer">Developer</h1>
                <p class="bio-paragraph" lang="en">
                    My programming journey began in high school when I took an AP Computer Science class that used Java to introduce some concepts like iteration, boolean algrebra, and object-oriented programming. This class challenged me to think differently and become a better problem-solver, which spurred me to further pursue the field and enroll as a computer science major at
                        <a class="p-link" href="https://www.bju.edu/" target="_blank" rel="noopener noreferrer">Bob Jones University</a>
                    (no, it's not named after the
                        <a class="p-link" href="https://en.wikipedia.org/wiki/Bobby_Jones_(golfer)" target="_blank" rel="noopener noreferrer">golfer</a>).
                    During my studies, I delved deeper into what I had only skimmed over in high school and discovered new technologies that solved old and new problems. I experienced both the thrilling and challenging aspects of computer science from desktop application development to algorithm analysis to compiler design. And WOW! Some of those classes were <b>really</b> hard&mdash;but they always turned out to be the most rewarding. Turning your teacher into Emperor Palpatine for a 2D platformer turns out to be quite fun!
                </p>
                <p class="bio-paragraph" lang="en">
                    As part of my last semester at school, I had the privilege of interning with a company based out of Greenville, South Carolina called
                        <a class="p-link" href="https://www.sermonaudio.com/main.asp" target="_blank" rel="noopener noreferrer">SermonAudio</a>.
                    Their small team of around ten professionals works to accomplish their common goal and ministry of enabling preachers to easily get their message on the web. I worked closely with a couple members of their team on several projects, including a complete rewrite of their web app using
                        <a class="p-link" href="https://vuejs.org/" target="_blank" rel="noopener noreferrer">Vue.js</a>
                    and connecting to
                        <a class="p-link" href="https://cloud.google.com/translate/" target="_blank" rel="noopener noreferrer">Google Translate</a>
                    and
                        <a class="p-link" href="https://about.gitlab.com/" target="_blank" rel="noopener noreferrer">GitLab</a>
                    API's with
                        <a class="p-link" href="https://www.python.org/" target="_blank" rel="noopener noreferrer">Python</a>
                    scripts. This experience taught me well how to become part of a larger purpose-driven team and to be an effective developer under the pressure of production timelines.
                </p>
                <p class="bio-paragraph" lang="en">
                    Graduation marked the end of my formal studies in May of 2022, where I graduated Cum Laude with my computer science and music degrees. Since then, I have worked to expand my development skills by working on a few personal projects (this site included) and experimenting with different technologies. Browse my
                        <a class="p-link" href="/portfolio" target="_blank" rel="noopener noreferrer">Portfolio</a>
                    to see what I've been up to!
                </p>

                <!-- Musician -->
                <h1 class="bio-heading" id="musician">Musician</h1>
                <p class="bio-paragraph" lang="en">
                    My parents nursed in me a love for music when I was young&mdash;my mom began teaching me piano at age five, and I started playing trombone in school at age ten. Growing up in church, I was also surrounded by the singing and music-making of those always around me. Looking back, I clearly see the prominence of music in the formative years of my development. The love my parents have for music continues in me.
                </p>
                <p class="bio-paragraph" lang="en">
                    
                </p>

                <!-- Learner -->
                <h1 class="bio-heading" id="learner">Learner</h1>
                <p class="bio-paragraph" lang="en">
                    Aside from my programming and music interests, I just enjoy learning about new things.
                </p>
            </div>
        </div>

        <!-- page footer -->
        <div id="footer"></div>
        
        <script src="../index.js"></script>
    </body>
</html>