<!doctype html>
<html>
    <head>
        <title>David Polar | About Me</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/ui.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400&family=EB+Garamond:wght@400;500&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="grid">

            <!-- navigation -->
            <div id="header"></div>

            <div class="header-image"></div>
            
            <div class="bio">
                <h1 class="bio-heading">Developer</h1>
                <p class="bio-paragraph" lang="en">
                    My programming journey began in high school when I took an AP Computer Science class that used Java to introduce some concepts like iteration, boolean algrebra, and object-oriented programming. This class challenged me to think differently and be a better problem-solver, which spurred me to further pursue the field and enroll as a computer science major at <a class="p-link" href="https://www.bju.edu/" target="_blank" rel="noopener noreferrer">Bob Jones University</a>. During my studies, I delved deeper into what I had only skimmed over in high school and discovered new technologies that solved old and new problems. I experienced both the thrilling and challenging aspects of computer science from desktop application development to algorithm analysis to compiler design.
                </p>
                <p class="bio-paragraph" lang="en">
                    As part of my last semester at school, I had the privilege of interning with a company based out of Greenville, South Carolina called <a class="p-link" href="https://www.sermonaudio.com/main.asp" target="_blank" rel="noopener noreferrer">SermonAudio</a>. They have a small team of about ten people who work to accomplish their common goal and ministry of enabling preachers to easily get their message on the web. 
                </p>
                <p class="bio-paragraph" lang="en">
                    The end of my formal studies was marked by graduation in May of 2022, where I graduated Cum Laude with my computer science degree.
                </p>

                <h1 class="bio-heading">Musician</h1>
                <p class="bio-paragraph" lang="en">
                    I started to take interest in music when my mom began teaching me piano when I was around five or six, which gave me the theoretical knowledge to appreciate music more as I grew. Both my parents coming from a musical background I then encountered the trombone in fifth grade band which I immediately loved.
                </p>

                <h1 class="bio-heading">Learner</h1>
                <p class="bio-paragraph" lang="en">
                    Aside from my programming and music interests, I just enjoy learning about new things.
                </p>
            </div>
        </div>

        <!-- page footer -->
        <div id="footer"></div>
        
        <script src="../index.js"></script>
    </body>
</html>