<!doctype html>
<html>
    <head>
        <title>David Polar | About Me</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/ui.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400&family=EB+Garamond&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="grid">

            <!-- navigation -->
            <div id="header"></div>

            <div class="header-image"></div>
            
            <h1 class="bio-heading" id="developer">Developer</h1>
            <p class="bio-paragraph" id="developer-paragraph" lang="en">
                My interest in programming was piqued in high school when I took a class that used Java to teach some elementary concepts like iteration, boolean algrebra, and object-oriented programming. 
            </p>

            <h1 class="bio-heading" id="musician">Musician</h1>
            <p class="bio-paragraph" id="musician-paragraph" lang="en">
                I started to take interest in music when my mom began teaching me piano when I was around five or six, which gave me the theoretical knowledge to appreciate music more as I grew. Both my parents coming from a musical background I then encountered the trombone in fifth grade band which I immediately loved.
            </p>

            <h1 class="bio-heading" id="learner">Learner</h1>
            <p class="bio-paragraph" id="learner-paragraph" lang="en">
                Aside from my programming and music interests, I just enjoy learning about new thingss.
            </p>
        </div>

        <!-- page footer -->
        <div id="footer"></div>
        
        <script src="../index.js"></script>
    </body>
</html>