<!doctype html>
<html>
    <head>
        <title>David Polar | Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/ui.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://use.typekit.net/qhf3jwb.css">
        <link href="https://fonts.googleapis.com/css2?family=Fondamento:ital@1&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div class="grid">

            <!-- navigation -->
            <div class="header-name">
                <a href="/">DPolar</a>
            </div>
            <nav id="header-nav"></nav>
            <nav id="header-nav-mobile"></nav>

            <!-- banner -->
            <h1 class="banner-name">David Polar</h1>
            <p class="banner-info">
                — Computer Science and Music student at Bob Jones University —<br>
                — Custodian at Missouri Avenue Baptist Church —<br>
                — Team Member at Chick-Fil-A Tyrone Square —<br>
                — Book Mender at Mack Library —
            </p>

            <!-- only displayed for mobile version
            for a better display quality -->
            <p class="banner-info-mobile">
                — Computer Science and Music student at BJU —<br>
                — Custodian at Missouri Avenue Baptist Church —<br>
                — Team Member at Chick-Fil-A Tyrone Square —<br>
                — Book Mender at Mack Library —
            </p>

            <div class="titles">

                <!-- display for musician page -->
                <a   class="musician icon" href="/musician/">
                    <img src="/images/tbone.png">
                </a>
                <div class="musician title">Musician</div>
                <div class="musician info">I enjoy studying music theory and history, but most of all playing my trombone.</div>

                <!-- display for programmer page -->
                <a   class="programmer icon" href="/programmer/">main()</a>
                <div class="programmer title">Programmer</div>
                <div class="programmer info">I can work with various computer technologies and coding languages.</div>

                <!-- display for learner page -->
                <a   class="learner icon" href="/learner/">Abc</a>
                <div class="learner title">Learner</div>
                <div class="learner info">I love to learn new things about the world to better understand my place in it.</div>
            </div>
        </div>

        <!-- page footer -->
        <div id="footer"></div>

        <script src="index.js"></script>
    </body>
</html>