<!doctype html>
<html>
    <head>
        <title>David Polar | Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/ui.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://use.typekit.net/qhf3jwb.css">
        <link href="https://fonts.googleapis.com/css2?family=Fondamento:ital@1&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div class="grid">

            <!-- navigation -->
            <div id="header"></div>

            <!-- banner -->
            <div class="banner-name">
                <a href="/about-me/">David Polar</a>
            </div>

            <div class="title-grid">


                <!-- display for developer page -->
                <a   class="developer icon" href="/about-me#developer_head">main()</a>
                <div class="developer title">Developer</div>
                <div class="developer info">I code.</div>
                
                <!-- display for musician page -->
                <a   class="musician icon" href="/about-me#musician_head">
                    <img src="/images/tbone.png">
                </a>
                <div class="musician title">Musician</div>
                <div class="musician info">I play trombone.</div>

                <!-- display for learner page -->
                <a   class="learner icon" href="/about-me#learner_head">Abc</a>
                <div class="learner title">Learner</div>
                <div class="learner info">I learn about new things.</div>
            </div>

            <!-- page footer -->
            <div id="footer"></div>

        </div>

        <script src="index.js"></script>
    </body>
</html>