<!doctype html>
<html>
    <head>
        <title>David Polar | Musician</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/ui.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://use.typekit.net/qhf3jwb.css">
        <link href="https://fonts.googleapis.com/css2?family=Fondamento:ital@1&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="grid">

            <!-- navigation -->
            <div class="header-name">
                <a href="/">DPolar</a>
            </div>
            <nav id="header-nav"></nav>
        </div>

        <div class="footer">
            <div id="footer-info"></div>
        </div>
        <script src="../index.js"></script>
    </body>
</html>