<!doctype html>
<html>
    <head>
        <title>David Polar | Portfolio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/ui.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://use.typekit.net/qhf3jwb.css">
        <link href="https://fonts.googleapis.com/css2?family=Fondamento:ital@1&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div class="grid">

            <!-- navigation -->
            <div id="header"></div>
            
            <div class="portfolio-grid">
                <div class="portfolio-heading">Development Portfolio</div>
                <div class="portfolio-card">
                    <div class="portfolio-card-head">Microprocessor Simulator</div>
                    <div class="portfolio-card-desc">This is some text that I will use to give a brief description of the project shown here. I am writing a couple lines so that I can see what it will look like when it is wrapped.</div>
                    <a class="portfolio-card-button-holder" href="https://github.com/Blakthorne/Microprocessor-Emulator" target="_blank" rel="noopener noreferrer">
                        <div class="portfolio-card-button" >View on Github</div>
                    <div class="portfolio-button-arrow">➤</div>
                    </a>
                    <img class="portfolio-card-pic" src="/images/portfolio/armsim.webp">
                </div>

                <div class="portfolio-heading">Music Portfolio</div>

                <div class="portfolio-card">
                    <div class="portfolio-card-head">Senior Trombone Recital</div>
                    <div class="portfolio-card-desc">This is some text that I will use to give a brief description of the project shown here. I am writing a couple lines so that I can see what it will look like when it is wrapped.</div>
                    <a class="portfolio-card-button-holder" href="https://github.com/Blakthorne/Microprocessor-Emulator" target="_blank" rel="noopener noreferrer">
                        <div class="portfolio-card-button">View on YouTube</div>
                        <div class="portfolio-button-arrow">➤</div>
                    </a>
                    <img class="portfolio-card-pic" src="/images/portfolio/recital.webp">
                </div>

                <div class="portfolio-heading">Learner Portfolio</div>
            </div>
        </div>

        <!-- page footer -->
        <div id="footer"></div>
        
        <script src="../index.js"></script>
    </body>
</html>