:root {
    /* color variables */
    --light: #a2a3a4;
    --color: #2ca0d6;
    --color-header: #2ca0d6b7;
    --content-start: 2;
    --content-mid: 7;
    --content-end: 12;
    --text-start: 4;
    --text-end: 10;
    --footer-height: 150px;
    --serif-font: 'adobe-caslon-pro', serif;
    --sans-serif-font: 'Noto Sans', sans-serif;
}

body {
    background-color: white;
    margin: 0;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.grid {
    display: grid;
    grid-template-columns: 1fr repeat(10, 115px) 1fr;
    grid-template-rows: minmax(75px, max-content) minmax(75px, max-content) minmax(75px, max-content) 1fr;
    min-height: 100vh;
    gap: 0px;
    box-sizing: border-box;
    align-items: center;
}

#header {
    grid-column: calc(var(--content-start)) / calc(var(--content-end));
    grid-row: 1;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: auto;
}

#header-nav {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
    font-family: var(--sans-serif-font);
    font-size: 2em;
    font-style: normal;
    padding-top: 40px;
}

#logo {
    grid-column: 1;
    grid-row: 1;
    height: 80px;
    padding-top: 30px;
}

#about-me-nav {
    grid-column: 2;
    grid-row: 1;
    font-variant-caps: small-caps;
}

#portfolio-nav {
    grid-column: 2;
    grid-row: 1;
    padding-left: 30px;
    font-variant-caps: small-caps;
}

.banner-name {
    grid-column: var(--content-start) / var(--content-end);
    grid-row: 2;
    font-size: 7em;
    font-family: var(--serif-font);
    text-shadow: 1px 1px 2px gray;
    margin: auto;
    padding-top: 60px;
}

.title-grid {
    grid-column: var(--content-start) / var(--content-end);
    grid-row: 3;
    display: grid;
    grid-template-columns: 3.3fr 3.3fr 3.3fr;
    grid-template-rows: inherit;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    color: black;
    align-items: inherit;
}

.developer {
    grid-column: 1;
}

.musician {
    grid-column: 2;
}

.learner {
    grid-column: 3;
}

.icon {
    grid-row: 1;
    box-sizing: border-box;
    height: 200px;
    width: 200px;
    outline: 5px solid var(--color);
    border-radius: 50%;
    margin: auto;
    transition: outline-width .05s linear 0s;
}

.icon:hover {
    outline-width: 8px;
}

.title {
    grid-row: 2;
    font-size: 3.5em;
    font-family: var(--sans-serif-font);
    padding-top: 5%;
    color: var(--light);
    font-weight: 200;
    font-variant-caps: small-caps;
    letter-spacing: 3px;
}

.info {
    grid-row: 3;
    font-size: 1.5em;
    font-family: var(--serif-font);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.45;
}

.musician.icon > img {
    width: 80%;
    padding-top: 65px;
    transition: width .05s linear 0s;
}

.musician.icon:hover img {
    width: 85%;
}

.developer.icon {
    grid-row: 1;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
    font-size: 3em;
    padding-top: 73px;
    transition: text-shadow .08s linear 0s;
}

.developer.icon:hover {
    text-shadow: 2px 3px 5px gray;
}

.learner.icon {
    grid-row: 1;
    font-family: 'Fondamento', cursive;
    font-size: 5em;
    padding-top: 45px;
    transition: text-shadow .08s linear 0s;
}

.learner.icon:hover {
    text-shadow: 2px 3px 5px gray;
}

#footer {
    grid-column: 1 / -1;
    grid-row: 4;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2em;
    background-color: var(--color);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5em;
}

.email {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.email:link, .email:visited {
    text-decoration: underline !important;
}

.email:hover {
    text-decoration: none !important;
}

.in-icon > img {
    width: 30px;
}

.github-icon > img {
    width: 30px;
}

.header-image {
    grid-column: 5 / 9;
    grid-row: 2;
    width: auto;
    height: 460px;
    display: flex;
    position: relative;
    background-size: contain;
    background-position: center;
    background-image: url("/images/profile/square-pic-50.webp");
    border-radius: 100%;
    box-shadow: 10px 15px 50px 20px rgb(119, 119, 119);
    margin-bottom: 50px;
}

.bio-heading {
    grid-column: var(--text-start) / var(--text-end);
    text-align: left;
    font-family: var(--sans-serif-font);
    font-size: 2.3em;
    font-weight: 100;
    color: var(--light);
    margin-bottom: -15px;
    font-variant-caps: small-caps;
    letter-spacing: 3px;
}

.bio-paragraph {
    grid-column: var(--text-start) / var(--text-end);
    text-align: left;
    font-family: var(--serif-font);
    font-size: 1.5em;
    line-height: 1.45;
    hyphens: auto;
}

#developer-head {
    grid-row: 3;
}

#developer-paragraph {
    grid-row: 4;
}

#musician-head {
    grid-row: 5;
}

#musician-paragraph {
    grid-row: 6;
}

#learner-head {
    grid-row: 7;
}

#learner-paragraph {
    grid-row: 8;
}

.portfolio-grid {
    grid-column: var(--content-start) / var(--content-end);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.portfolio-heading {
    grid-column: 1;
    text-align: left;
    font-family: var(--sans-serif-font);
    font-size: 3em;
    font-variant-caps: small-caps;
    font-weight: 200;
    margin-bottom: 40px;
    margin-top: 60px;
    color: var(--light);
}

.portfolio-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr min-content;
    margin-bottom: 20px;
}

.portfolio-card-head {
    grid-column: 1;
    grid-row: 1;
    font-family: var(--serif-font);
    font-size: 2em;
    padding-top: 15px;
}

.portfolio-card-desc {
    grid-column: 1;
    grid-row: 2;
    font-family: var(--serif-font);
    font-size: 1.5em;
    line-height: 1.45;
    margin-top: 0;
    padding-right: 25px;
}

.portfolio-card-button-holder {
    grid-column: 1;
    grid-row: 3;
    text-align: center;
    margin: auto;
    font-size: 1.5em;
    font-family: var(--sans-serif-font);
    margin-bottom: 15px;
}

.portfolio-card-button-holder:hover {
    color: var(--color);
}

.portfolio-card-button-holder:hover .portfolio-button-arrow {
    padding-left: 10px;
}

.portfolio-card-button {
    display: inline;
}

.portfolio-button-arrow {
    display: inline;
    transition: padding-left .1s linear 0s;
}

.portfolio-card-pic {
    grid-column: 2;
    grid-row: 1 / 4;
    margin: auto;
    height: 300px;
    box-shadow: 0px 0px 20px 0px rgb(119, 119, 119);
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .grid {
        grid-template-columns: 1fr repeat(10, 100px) 1fr;
    }

    .banner-name {
        font-size: 7em;
        padding-top: 60px;
    }

    .icon {
        height: 200px;
        width: 200px;
    }

    .title {
        font-size: 3.5em;
        padding-top: 5%;
    }

    .info {
        font-size: 1.5em;
    }

    .musician.icon > img {
        width: 80%;
        padding-top: 65px;
    }

    .musician.icon:hover img {
        width: 85%;
    }

    .developer.icon {
        font-size: 3em;
        padding-top: 73px;
    }

    .learner.icon {
        font-size: 5em;
        padding-top: 45px;
    }

    #footer {
        column-gap: 2em;
        font-size: 1.5em;
    }

    .header-image {
        height: 400px;
    }

    .portfolio-card-pic {
        height: 250px;
    }

    .portfolio-card-desc {
        font-size: 1.25em;
    }

    .portfolio-card-button-holder {
        font-size: 1.4em;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .grid {
        grid-template-columns: 1fr repeat(10, 75px) 1fr;
    }

    .banner-name {
        font-size: 7em;
        padding-top: 60px;
    }

    .icon {
        height: 170px;
        width: 170px;
    }

    .title {
        font-size: 2.5em;
        padding-top: 5%;
    }

    .info {
        font-size: 1.1em;
    }

    .musician.icon > img {
        width: 80%;
        padding-top: 55px;
    }

    .musician.icon:hover img {
        width: 85%;
    }

    .developer.icon {
        font-size: 2.5em;
        padding-top: 62px;
    }

    .learner.icon {
        font-size: 4em;
        padding-top: 40px;
    }

    #footer {
        column-gap: 2em;
        font-size: 1.5em;
    }

    .header-image {
        height: 300px;
    }

    .bio-heading {
        grid-column: 3 / 11;
    }

    .bio-paragraph {
        grid-column: 3 / 11;
    }
    
    .portfolio-card-desc {
        font-size: 1.1em;
    }

    .portfolio-card-button-holder {
        font-size: 1.3em;
        margin-top: 20px;
    }

    .portfolio-card-pic {
        height: 200px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(4, max-content);
    }

    #header {
        grid-column: 1 / 13;
        background-color: var(--color);
        padding: 0px 40px 20px 40px;
    }

    #header-nav {
        padding-top: 20px;
        color: white;
    }

    #about-me-nav {
        display: block;
    }

    #portfolio-nav {
        display: block;
    }

    .banner-name {
        grid-column: 1 / 13;
        font-size: 17vw;
        margin: auto;
        padding-top: 50px;
    }
    
    .title-grid {
        grid-column: 1 / 13;
        grid-row: 3;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .icon {
        grid-column: 1;
        display: block;
        height: 65vw;
        width: 65vw;
        margin: auto;
        margin-top: 10vw;
    }

    .title {
        grid-column: 1;
        font-size: 14vw;
    }

    .info {
        grid-column: 1;
        font-size: 4.7vw;
    }
    
    .title.grid > * {
        grid-column: 1;
    }

    .developer.icon {
        grid-row: 1;
        font-size: 15vw;
        padding-top: 22vw;
        margin-top: 0px !important;
    }

    .developer.title {
        grid-row: 2;
    }
    
    .developer.info {
        grid-row: 3;
        padding-bottom: 7vw;
        border-bottom: solid 5px var(--light);
    }

    .musician.icon > img {
        width: 50vw;
        padding-top: 22vw;
    }

    .musician.icon:hover img {
        width: 55vw;
    }
    
    .musician.icon {
        grid-row: 4;
    }

    .musician.title {
        grid-row: 5;
    }

    .musician.info {
        grid-row: 6;
        padding-bottom: 7vw;
        border-bottom: solid 5px var(--light);
    }

    .learner.icon {
        grid-row: 7;
        font-size: 22vw;
        padding-top: 16vw;
    }

    .learner.title {
        grid-row: 8;
    }
    
    .learner.info {
        grid-row: 9;
    }

    #footer {
        font-size: 1.2em;
        padding-bottom: 20px;
    }

    .break {
        flex-basis: 100%;
        height: 0;
    }

    .header-image {
        grid-column: 1 / 13;
        grid-row: 2;
        width: 100%;
        height: 100vw;
        display: block;
        position: relative;
        background-size: contain;
        background-position: center;
        background-image: url("/images/profile/square-pic-50.webp");
        border-radius: 0%;
        box-shadow: none;
    }

    .bio-heading {
        grid-column: 2 / 12;
    }

    .bio-paragraph {
        grid-column: 2 / 12;
        font-size: 1.15em;
    }

    .portfolio-grid {
        margin-top: 0px;
    }

    .portfolio-heading {
        grid-column: 1;
        text-align: center;
        font-family: var(--sans-serif-font);
        font-size: 8.17vw;
        margin-bottom: 40px;
        margin-top: 60px;
        color: var(--light);
    }

    .portfolio-card {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin-bottom: 20px;
    }
    
    .portfolio-card-head {
        grid-column: 1;
        grid-row: 1;
        font-family: var(--serif-font);
        text-align: center;
        font-size: 6vw;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .portfolio-card-pic {
        grid-column: 1;
        grid-row: 2;
        margin: auto;
        height: 45vw;
        box-shadow: 0px 0px 20px 0px rgb(119, 119, 119);
        margin-bottom: 30px;
    }
    
    .portfolio-card-desc {
        grid-column: 1;
        grid-row: 3;
        font-family: var(--serif-font);
        font-size: 1.15em;
        line-height: 1.45;
        margin-top: 0;
    }
    
    .portfolio-card-button-holder {
        grid-column: 1;
        grid-row: 4;
        text-align: center;
        font-size: 1.3em;
        font-family: var(--sans-serif-font);
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .portfolio-card-button:hover {
        color: var(--color);
    }
}